html {
    background: yellow;
    color: blue;
    border-radius: 30px;
}

.red-text {
    display: block;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    color: red;
    background: url(./images/modern-word-combinations-urban-dictionary-9__880.png);
}