.navigation_block {
    position: relative;
    background-color: blueviolet;
    z-index: 2;
}

.nav__item {
    display: inline-block;
    text-transform: uppercase;
}

.nav {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.nav__item a {
    text-decoration: none;
    color: white;
    font-family: impact, serif;
    font-size: 16px;
    background-color: blueviolet;
    padding: 0 5px;
    margin: 5px;
}

.nav_dropdown-travel {
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 0;
    right: 0;
    background-color: lightgray;
    box-shadow: 0 0 10px transparent;
    visibility: hidden;
}

div .nav_dropdown-travel_list li a {
    font-family: arial, serif;
    background-color: lightgray;
    color: #666666;
}

.nav_dropdown-travel_list li {
    text-transform: capitalize;
    display: inline-block;
}

.nav__item > a:hover {
    background-color: lightgrey;
    color: #666666;
    height: 20px;
    box-shadow: 0 0 5px 1px;
}

.nav__item a:hover ~ .nav_dropdown-travel {
    visibility: visible;
}

.nav_dropdown-travel:hover {
    visibility: visible;
}
.nav_dropdown-travel_list li > a:hover {
    background-color: lightgrey;
    color: #666666;
    height: 20px;
    box-shadow: 0 0 5px 1px;
}
