* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    width: 100%;
    min-height: calc(100vh - 100px);
    padding-top: 40px;
    background: url("../images/bcg.png") center no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: Arial, Helvetica, San-serif, serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
}

body .data__switch-btn {
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(128, 128, 128, 0.5);
    overflow: hidden;
    cursor: pointer;
    font-weight: 600;

    -moz-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

body .data__switch-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    width: 50%;
    height: 41px;
    z-index: -1;

    -moz-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

/*body .data__switch-btn:hover::before {*/
    /*background: greenyellow;*/
    /*left: 50%;*/
    /*/!*right: 0;*!/*/
/*}*/

body .active.data__switch-btn::before {
    background: greenyellow;
    left: 50%;
}

body .data__block {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    padding: 0 100px;
}

body .data__block .data__item {
    min-width: 190px;
    max-width: 300px;
    min-height: 190px;
    background: #fff;
    padding: 20px;
    margin: 25px;
}

body .data__block .data__item .item__img {
    width: 100%;
}

body .data__block .data__item .item__header {
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center;
    margin: 10px 0;
}

body .data__block .data__item .item__description {
    font-size: 0.825rem;
    text-align: justify;
    color: #242424;
}

footer {
    display: block;
    width: 100%;
    height: 45px;
}

footer .data_load-more-btn {
    position: relative;
    display: block;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid rgba(128, 128, 128, 0.5);
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;

    -moz-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

footer .data_load-more-btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 1px solid #fff;
    opacity: 0;
    cursor: pointer;

    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
}

footer .data_load-more-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: cyan;
    -moz-transition: top 300ms;
    -o-transition: top 300ms;
    -webkit-transition: top 300ms;
    transition: top 300ms;
    z-index: -1;
    cursor: pointer;
}

footer .data_load-more-btn:hover {
    color: #fff;
}

.data_load-more-btn:hover::before {
    top: 40px;
}

.data_load-more-btn:hover::after {
    height: 0;
}


