* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    font-size: 12px;
}

header {
    max-width: 1400px;
    min-height: 115px;
    padding: 0 189px;
    margin: 0 auto;
}

.logo, .navigation {
    display: inline-block;
}

.navigation {
    margin-left: 164px;
}

@media (max-width: 1450px) and (min-width: 1271px) {
    .navigation {
        margin-left: 0;
    }
}

@media (max-width: 1270px) {
    header {
        padding: 20px 20px 0;
        text-align: center;
        margin-bottom: 1px;
    }

    .navigation {
        margin-left: 0;
    }
}

.logo {
    vertical-align: -1em;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.logo:hover {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.navigation > div {
    display: inline-block;
    line-height: 115px;
    box-sizing: border-box;
}

.item {
    height: 115px;
}

.navigation .item a {
    text-decoration: none;
    color: #989898;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.17em;
    padding: 0 15px;
    vertical-align: -1em;
}

.navigation .item:hover a {
    color: #3070a8;
}

.navigation .item:hover {
    box-sizing: border-box;
    border-bottom: 5px solid #3070a8;
}

.banner {
    background: url('banner-under-the-header.jpg') no-repeat center;
    max-width: 1400px;
    min-height: 585px;
    margin: 0 auto;
    padding-top: 150px;
}

.text-block1 {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    text-align: center;
}

.text-block2 {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}

.text-block3 {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.67em;
    font-style: italic;
    text-align: center;
    padding-top: 28px;
}

@media (max-width: 800px) {
    .banner {
        min-height: 5vw;
        padding-top: 9vw;
        padding-bottom: 20px;
    }

    .text-block1 {
        font-size: 2em;
    }

    .text-block2 {
        font-size: 2.5em;
    }
}

.banner__button {
    width: 247px;
    height: 59px;
    box-sizing: border-box;
    border: 1px solid #97a8bb;
    text-align: center;
    margin: 45px auto;

}

.banner__button a {
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 1.8em;
    color: #ffffff;
    font-weight: bold;
    line-height: 2.5em;
}

.banner__button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.white-banner {
    max-width: 1400px;
    min-height: 565px;
    text-align: center;
    padding: 4vw 16vw;
    margin: 0 auto;
}

.white-banner h1 {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #41525c;
    margin-bottom: 4vw;
}

.details-block {
    display: inline-block;
    text-align: center;
    width: 33%;
    padding: 25px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

@media (max-width: 1260px) {
    .white-banner {
        width: 100%;
        padding: 4vw 1vw;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .details-block {
        width: 49%;
    }

}

.white-banner > div h2 {
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    color: #3070a8;
    margin-top: 30px;
}

.white-banner > div p {
    font-size: 1.17em;
    font-family: 'Open Sans', sans-serif;
    color: #999;
    margin-top: 27px;
    line-height: 1.7em;
}

.details-block a {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

.details-block:hover {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.details-block:hover a {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}

.middle-banner {
    max-width: 1400px;
    height: 577px;
    text-align: left;
    padding: 75px 189px 0;
    margin: 0 auto;
    background: url("banner-on-the-meddle-position.jpg") no-repeat center;
    overflow-y: auto;
}

@media (max-width: 1250px) {
    .middle-banner {
        padding: 3vw 8vw 2px;
    }
}

.middle-banner h1 {
    font-size: 2.3em;
    line-height: 47px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ee8129;
}

.middle-banner h2 {
    font-size: 1.6em;
    font-family: Helvetica, sans-serif;
    color: #fff;
    font-style: italic;
    margin: 13px 0 42px 0;
}

.middle-banner ul {
    font-family: 'Open Sans', sans-serif;
    color: #9d9d9d;
    font-size: 1.18em;
    list-style-type: none;
    margin-left: 18px;
    line-height: 30px;
}

.middle-banner li {
    list-style-position: outside;
    padding-left: 23px;
    text-indent: -23px;
    margin-bottom: 12px;
}

.grey::before {
    content: url("Ellipse-17%20copy%205.png");
    margin-right: 15px;
    margin-bottom: 30px;
}

.blue::before {
    content: url("Ellipse-17%20copy%204.png");
    margin-right: 15px;
    margin-bottom: 30px;
}

.middle-banner .blue {
    color: #3070a8
}

/*OFFER PLANS _________________________________________________________________________________________________*/

.planoffer__box {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    max-width: 900px;
    min-height: 708px;
    margin: 0 auto;
    padding: 70px 20px 10px;
}

.planofferbox__header {
    display: inline-block;

}

.planoffer__box > h1 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #54626b;
    text-align: center;
    height: 65px;
    margin-bottom: 5px;
}

.planoffer__items {
    position: relative;
    margin: 0 auto;
}

.planoffer__button {
    text-decoration: none;
}

a.planoffer__button.ultimate:hover, a.planoffer__button.standard:hover {
    background: #4297e0;
}

a.planoffer__button.best:hover {
    background: #ff9a48;
}

.planoffer__details ul {
    padding-left: 0;
}

.planoffer__details li {
    width: 258px;
    height: 33px;
    list-style: none;
    margin-bottom: 1px;
    padding-left: 65px;
    line-height: 33px;
    font-size: 15px;
}

/* центральный элемент ************************************/
.planoffer__mainbox {
    position: relative;
    display: inline-block;
    width: 296px;
    height: 468px;
    border: 4px solid #ee8129;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 2px #cde2ee;
    z-index: 3;
    margin: 0 -4px;
}

.planoffer__header {
    height: 73px;
    width: 100%;
    background-color: #ee8129;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 73px;
    font-weight: bold;
}

.planoffer__name {
    position: relative;
    top: -7px;
    font-size: 24px;
    text-align: center;
    margin: 27px 0 27px 0;
    color: #3f4042;
}

.planoffer__price {
    width: 150px;
    height: 70px;
    position: relative;
    top: -11px;
    margin: 0 auto;
}

.planoffer__currency {
    position: relative;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    color: #35495a;
}

.planoffer__value {
    position: relative;
    top: -34px;
    left: 10px;
    font-size: 72px;
    font-weight: bold;
    color: #35495a;
}

.planoffer__period {
    font-size: 18px;
    color: #35495a;
    position: relative;
    top: -61px;
    right: -93px;
}

.planoffer__details {
    display: block;
    width: 258px;
    height: 132px;
    position: relative;
    top: -2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    color: #888c94;
}

.planoffer__details ul li:nth-child(even) {
    background-color: #f5f5f6;
}

.planoffer__details ul li:nth-child(odd) {
    background-color: #edf5fd;
}

.planoffer__details li::before {
    position: absolute;
    width: 14px;
    height: 15px;
    background: url(Shape-1.png);
    content: '';
    margin-left: -34px;
    margin-top: 9px;
}

.planoffer__button {
    display: block;
    background-color: #ee8129;
    border-bottom: 3px solid #b3560b;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 10px;
    right: -10px;
    width: 253px;
}

/* элемент стандарт ******************************************** */
.standard.planoffer__mainbox {
    position: relative;
    left: 0;
    width: 287px;
    height: 441px;
    border: 1px solid #e8eaec;
    box-sizing: border-box;
    box-shadow: 0 0 0 0;
}

.standard .planoffer__header {
    height: 62px;
    width: 100%;
    background-color: #37c2d3;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 73px;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.standard .planoffer__name {
    position: relative;
    top: -7px;
    font-size: 24px;
    text-align: center;
    margin: 27px 0 27px 0;
    color: #3f4042;
}

.standard .planoffer__price {
    width: 150px;
    height: 70px;
    position: relative;
    top: -11px;
    margin: 0 auto;
}

.standard .planoffer__currency {
    position: relative;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    color: #35495a;
}

.standard .planoffer__value {
    position: relative;
    top: -34px;
    left: 10px;
    font-size: 72px;
    font-weight: bold;
    color: #35495a;
}

.standard .planoffer__period {
    font-size: 18px;
    color: #35495a;
    position: relative;
    top: -61px;
    right: -93px;
}

.standard .planoffer__details {
    display: block;
    width: 258px;
    height: 132px;
    position: relative;
    top: -2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    color: #888c94;
}

.standard .planoffer__details ul {
    padding-left: 0;

}

.standard .planoffer__details ul li:nth-child(even) {
    background-color: #f5f5f6;
}

.standard .planoffer__details ul li:nth-child(odd) {
    background-color: #edf5fd;
}

.standard .planoffer__details li::before {
    position: absolute;
    width: 14px;
    height: 15px;
    background: url(Shape-1.png);
    content: '';
    margin-left: -34px;
    margin-top: 9px;
}

.standard .planoffer__button {
    display: block;
    background-color: #3371a6;
    border-bottom: 3px solid #16436a;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 10px;
    right: -10px;
    width: 253px;
}

/* элемент ультимате ******************************************** */

.planoffer__mainbox.ultimate {
    position: relative;
    left: 0;
    width: 287px;
    height: 441px;
    border: 1px solid #e8eaec;
    border-radius: 0 4px 4px 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 0;
    z-index: 1;
}

.ultimate .planoffer__header {
    height: 62px;
    width: 100%;
    background-color: #1cb79a;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 73px;
    font-weight: bold;

    border-radius: 4px 4px 0 0;
}

.ultimate .planoffer__name {
    position: relative;
    top: -7px;
    font-size: 24px;
    text-align: center;
    margin: 27px 0 27px 0;
    color: #3f4042;
}

.ultimate .planoffer__price {
    width: 150px;
    height: 70px;
    position: relative;
    top: -11px;
    margin: 0 auto;
}

.ultimate .planoffer__currency {
    position: relative;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    color: #35495a;
}

.ultimate .planoffer__value {
    position: relative;
    top: -34px;
    left: 10px;
    font-size: 72px;
    font-weight: bold;
    color: #35495a;
}

.ultimate .planoffer__period {
    font-size: 18px;
    color: #35495a;
    position: relative;
    top: -61px;
    right: -93px;
}

.ultimate .planoffer__details {
    display: block;
    width: 258px;
    height: 132px;
    position: relative;
    top: -2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    color: #888c94;
}

.ultimate .planoffer__details ul {
    padding-left: 0;

}

.ultimate .planoffer__details ul li:nth-child(even) {
    background-color: #f5f5f6;
}

.ultimate .planoffer__details ul li:nth-child(odd) {
    background-color: #edf5fd;
}

.ultimate .planoffer__details li::before {
    position: absolute;
    width: 14px;
    height: 15px;
    background: url(Shape-1.png);
    content: '';
    margin-left: -34px;
    margin-top: 9px;
}

.ultimate .planoffer__button {
    display: block;
    background-color: #3371a6;
    border-bottom: 3px solid #16436a;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 10px;
    right: -10px;
    width: 253px;
}

@media (max-width: 870px) {
    .planoffer__mainbox {
        display: block;
        margin: 0 auto;
    }

    .planoffer__box {
        padding: 30px;
    }
}

@-webkit-keyframes standard-offer-plan-dance {
    from {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    to {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

@keyframes standard-offer-plan-dance {
    from {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    to {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

@-webkit-keyframes best-value-offer-plan-dance {
    from {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    to {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

@keyframes best-value-offer-plan-dance {
    from {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    to {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

@-webkit-keyframes offer-plan-dance {
    from {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    to {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

@keyframes offer-plan-dance {
    from {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    to {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

.standard .planoffer__mainbox {
    -webkit-transition: 1s standard-offer-plan-dance 1 ease-out;
    transition: 1s standard-offer-plan-dance 1 ease-out;
}

.planoffer__mainbox {
    -webkit-transition: 1s best-value-offer-plan-dance 1 ease-out;
    transition: 1s best-value-offer-plan-dance 1 ease-out;
}

.ultimate .planoffer__mainbox {
    -webkit-transition: 1s ultimate-offer-plan-dance 1 ease-out;
    transition: 1s ultimate-offer-plan-dance 1 ease-out;
}

.planoffer__mainbox:hover {
    -webkit-animation: 1.5s best-value-offer-plan-dance;
    animation: 1.5s best-value-offer-plan-dance;
}

.standard .planoffer__mainbox:hover {
    1.5s standard-offer-plan-dance;
}

.ultimate .planoffer__mainbox:hover {
    1.5s ultimate-offer-plan-dance;
}

/* FEEDBACK BANNER **********************************************************************************************/
.feedback {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    max-width: 1400px;
    height: 315px;
    background: url('banner-above-the-footer.jpg') no-repeat center;
    margin: 0 auto;
    padding: 0 189px;
}

.feedback__header {
    height: 90px;
    font-size: 40px;
    line-height: 90px;
    vertical-align: baseline;
    text-align: center;
}

.feedback__header__orange {
    color: #ee8129;
}

.feedback__header__blue {
    color: #3170a8;
}

.feedbackbox {
    position: relative;
    width: 100%;
    height: 225px;
}

.feedbackbox * {
    display: inline-block;
}

.feedback__boxinside {
    display: inline-block;
    position: relative;
    width: 490px;
    height: 98px;
    margin-top: 45px;
    box-sizing: content-box;
}

.feedback__photo.stasia {
    background-image: url('Layer-94.png');
    position: relative;
}

.feedback__photo.david {
    background-image: url('Layer-95.png');
    position: relative;
}

.feedback__photo {
    width: 99px;
    height: 98px;
    top: -15px;
}

.feedback__message {
    position: relative;
    left: 23px;
    width: 364px;
    height: 98px;
    background: #ffffff;
    padding: 15px;
}

.feedback__message__name::before {
    content: "- ";
}

.feedback__message__name, .feedback__message__customer {
    color: #3070a8;
    font-style: italic;
}

.feedback__message__textfeedback {
    position: relative;
    top: 11px;
    width: 330px;
    height: 60px;
    border-top: 2px dotted #666666;
    color: #666666;
    line-height: 1.5;
    padding-top: 6px;
    font-size: 13px;
}

.feedback__message__name {
    position: relative;
    float: left;
}

.feedback__message__customer {
    position: relative;
    float: right;
}

.feedback__message__narrov {
    position: relative;
    top: -48px;
    left: -46px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 17px solid #ffffff;
    border-bottom: 12px solid transparent;
    border-left: 17px solid transparent;
}

.feedback__boxinside.left {
    float: left;
}

.feedback__boxinside.right {
    float: right;
}

@media (max-width: 1470px) {
    .feedback {
        padding: 0 4vw;
    }

    .feedbackbox {
        top: -20px;
    }

    .feedback__boxinside.left, .feedback__boxinside.right {
        float: none;
        margin: 15px auto 0;
        display: block;
    }
}

.banner-befor-footer {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    text-align: left;
    max-width: 1400px;
    height: 345px;
    padding: 45px 0 35px 189px;
}

.facebook, .twitter, .in {
    display: inline-block;
}
.facebook a, .twitter a, .in a {
    width: 50px;
    height: 50px;
}


.google_map {
    width: 50%;
    height: 345px;
}


.footer {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    max-width: 1400px;
    height: 100px;
    text-align: center;
    background: #3070a8;
    padding: 25px;
}



