@import "media-900px.css" screen;

@font-face {
    font-family: 'sfns_displayregular';
    src: url('../fonts/system_san_francisco_display_regular-webfont.eot');
    src: url('../fonts/system_san_francisco_display_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/system_san_francisco_display_regular-webfont.woff') format('woff'),
    url('../fonts/system_san_francisco_display_regular-webfont.ttf') format('truetype'),
    url('../fonts/system_san_francisco_display_regular-webfont.svg#sfns_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'sfns_displayregular', sans-serif;

    display: block;
    width: 100%;
    max-width: 1440px;
    min-width: 900px;
    margin: 0 auto;
}

.light {
    font-weight: 300 !important;
}

.semi-bold {
    font-weight: 400 !important;
}

.bold {
    font-weight: 600 !important;
}

.text-green {
    color: #6adf75 !important;
}

.text-blue {
    color: #00b2ff;
}

/*----------------------------------------HEADER STYLING------------------------------------------------------*/

header {
    display: block;
    width: 100%;
    max-width: 1440px;
    height: 60px;
    margin: 0 auto;
    background: #FFFFFF;
    text-align: center;
    border-bottom: rgba(0, 0, 0, 0.01);
}

.logo {
    width: 10%;
    height: 60px;
    background-image: url(../images/logo@3x.png);
    -webkit-background-size: 42px 50px;
    background-size: 42px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.logo:hover {
    transform: scale(1.1, 1.1);
}

header nav > a {
    display: inline-block;
    position: relative;
    width: 13%;
    height: 60px;
    font-size: 17px;
    line-height: 61px;
    text-decoration: none;
    color: #000000;
    vertical-align: middle;
}

header nav > .anchor:after {
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

header nav > .anchor:hover::after {
    background: #6adf75;
}

header nav > .anchor.navigator::after {
    background: #6adf75;
}

.profile {
    width: 26%;
    text-align: right;
}

.light-blue {
    color: #00b2ff;
    font-size: 19px;
}

a.logo.navigator:hover {
    transform: scale(1.1, 1.1);
}

/*----------------------------------------END OF HEADER STYLING-------------------------------------------------*/

/*----------------------------------------FOOTER STYLING------------------------------------------------------*/

footer {
    display: block;
    width: 100%;
    max-width: 1440px;
    height: 280px;
    margin: 0 auto;
    padding: 0 20px 20px;
    background: #6adf75;
    color: #FFFFFF;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0 21px;
}

.new-idea__footer {
    display: block;
    width: 225px;
    height: 42px;
    margin: 0 auto;
    padding-left: 20px;
    background: #ffffff url("../images/shape@3x.png") 15px center no-repeat;
    -webkit-background-size: 15px;
    background-size: 15px;
    font-size: 17px;
    color: #4a505a;
    text-decoration: none;
    line-height: 43px;
    border-radius: 4px;

    -box-shadow: -2px 2px 4px #89898A;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
}

.new-idea__footer:hover {
    text-decoration: none !important;
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px #89898A;
}

.footer-contacts {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: 143px;
    margin: 22px auto 0;
    border-top: 2px solid #ffffff;
    text-align: left;
}

.footer-contacts__left {
    display: inline-block;
    width: 25%;
    height: 143px;
    vertical-align: top;
}

.footer-contacts__left a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-contacts__left a:nth-child(1) {
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    line-height: 18px;
}

.footer-contacts__left a:nth-child(2) {
    font-size: 18px;
    font-weight: 300;
    padding-top: 60px;
    line-height: 24px;
}

.footer-contacts__left span {
    font-size: 12px;
    font-weight: 100;
    padding-top: 5px;
    line-height: 12px;
}

.footer-contacts__right {
    display: inline-block;
    width: 70%;
    height: 143px;
    vertical-align: top;
}

.footer-contacts__right p {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 0 22px;
}

.fb, .vk, .insta {
    display: inline-block;
    height: 30px;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
}

.fb:hover, .vk:hover, .insta:hover {
    transform: scale(1.25, 1.25);
}

.fb {
    width: 15px;
    background: url("../images/fbicon@3x.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.vk {
    width: 42px;
    margin: 0 40px;
    background: url("../images/v-k@3x.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.insta {
    width: 30px;
    background: url("../images/insta@3x.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

footer a:hover {
    text-decoration: underline;
}

/*---------------------------------------------END OF FOOTER STYLING----------------------------------------------*/

/*---------------------------------------------MAIN PAGE STYLING START----------------------------------------------*/

.below_header {
    display: none;
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    background: #f7fafa;
}

.below_header h1 {
    font-size: 29px;
    text-align: center;
    color: #4a505a;
    font-weight: 300;
    padding-top: 30px;
    line-height: 29px;
}

.new-idea {
    display: block;
    width: 225px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 5%;
    padding-left: 20px;
    background: #6adf75 url("../images/shape@3x-white.png") 15px center no-repeat;
    -webkit-background-size: 15px;
    background-size: 15px;
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 43px;
    border-radius: 0 0 4px 4px;
    text-align: center;

    -box-shadow: -1px 1px 1px #d9d9de;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
    z-index: 3;
}

.new-idea:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px #aaa;
}

.main_image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: calc(100vh - 60px);
    background: #f7fafa url("../images/City_back.png") center 100% no-repeat;
    -webkit-background-size: 100% 90%;
    background-size: 100% 90%;
    margin: 0 auto -2px;
}

.main_image > img {
    display: block;
    width: 100%;
    max-width: 1152px;
    height: 95%;
    margin: 0 auto;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.main_description {
    display: block;
    width: 100%;
    max-width: 1440px;
    height: 1512px;
    margin: 0 auto;
    background: #f7fafa;
}

.main_description__how-it-works {
    display: block;
    width: 100%;
    max-width: 1152px;
    height: 925px;
    margin: 0 auto;
    background: #FFFFFF;
    text-align: center;
}

.main_description__how-it-works h2 {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 45px 0 35px;
    font-size: 29px;
    color: #4a505a;
    font-weight: 300;
}

.main_description__how-it-works h2 span {
    color: #53cb32;
}

.main_description__how-it-works div {
    display: inline-block;
    width: 29%;
    height: 300px;
    vertical-align: top;
    padding-top: 255px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.main_description__how-it-works div span {
    color: #4a505a;
    font-size: 22px;
}

.main_description__how-it-works .line {
    display: block;
    width: 96px;
    height: 2px;
    margin: 0 auto;
    background: #4a505a;
    opacity: 0.5;
    padding: 0;
}

.main_description__how-it-works div:nth-child(4) {
    background: url("../images/idea-copy@3x.png") 43% 0 no-repeat;
    -webkit-background-size: 55%;
    background-size: 55%;
    width: 18%;
}

.main_description__how-it-works div:nth-child(5) {
    background: url("../images/people@3x.png") center 44% no-repeat;
    -webkit-background-size: 96%;
    background-size: 96%;
    width: 18%;
}

.main_description__how-it-works div:nth-child(6) {
    background: url("../images/bar.png") center 47% no-repeat;
    -webkit-background-size: 80%;
    background-size: 80%;
}

.main_description__how-it-works div:nth-child(7) {
    background: url("../images/worker@3x.png") center 36% no-repeat;
    -webkit-background-size: 65%;
    background-size: 65%;
}

.main_description__how-it-works div:nth-child(8) {
    background: url("../images/like@3x.png") center 45% no-repeat;
    -webkit-background-size: 67%;
    background-size: 67%;
}

.main_description__how-it-works p {
    font-size: 32px;
    color: #4a505a;
    padding: 52px 0 40px;
}

.main_description__your-part {
    display: block;
    width: 100%;
    max-width: 1152px;
    height: 587px;
    margin: 0 auto;
    background: #def7e0;
    text-align: center;
}

.main_description__your-part h3 {
    font-size: 33px;
    color: #4a505a;
    padding: 40px 0 48px;
    font-weight: 400;
}

.main_description__your-part div {
    display: inline-block;
    width: 30%;
    height: 400px;
    vertical-align: top;
    padding-top: 270px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.main_description__your-part span {
    font-size: 29px;
    color: #4a505a;
    font-weight: 300;
}

.main_description__your-part div:nth-child(2) {
    background: url("../images/Idea.png") center 0 no-repeat;
    -webkit-background-size: 35%;
    background-size: 35%;
}

.main_description__your-part div:nth-child(3) {
    background: url("../images/hands@3x.png") center 16% no-repeat;
    -webkit-background-size: 70%;
    background-size: 70%;
}

.main_description__your-part div:nth-child(4) {
    background: url("../images/Investor.png") 42% 18% no-repeat;
    -webkit-background-size: 36%;
    background-size: 36%;
}

/*---------------------------------------------MAIN PAGE STYLING END----------------------------------------------*/

/*---------------------------------------------REGISTER PAGE STYLING START------------------------------------------*/
.reg-wrp {
    display: block;
    width: 100%;
    max-width: 1440px;
    height: 848px;
    margin: 0 auto;
    background: #f7fafa;
    color: #4a505a;
}

.reg-form {
    display: block;
    width: 100%;
    max-width: 1152px;
    height: 848px;
    margin: 0 auto;
    background: #FFFFFF;
    text-align: center;
}

.reg-form h1 {
    font-size: 38px;
    line-height: 38px;
    color: #4a505a;
    font-weight: 400;
    padding: 70px 0 14px;
}

.reg-form h2 {
    display: block;
    width: 100%;
    max-width: 552px;
    margin: 0 auto;
    font-size: 29px;
    line-height: 29px;
    color: #4a505a;
    font-weight: 100;
    padding: 0 0 24px;
}

.reg-form p {
    font-size: 19px;
    line-height: 19px;
    font-weight: 600;
    color: #4a505a;
}

.reg-fb, .reg-vk {
    display: inline-block;
    width: 176px;
    height: 42px;
    border-radius: 6px;
    margin: 28px 15px 25px;
}

.reg-fb {
    background: #425f9c url("../images/facebook@3x.png") center no-repeat;
    -webkit-background-size: 60%;
    background-size: 60%;
}

.reg-vk {
    background: #517296 url("../images/vkregbtn@3x.png") center no-repeat;
    -webkit-background-size: 70%;
    background-size: 70%;
}

.reg-form form {
    display: block;
    width: 100%;
    max-width: 380px;
    height: 300px;
    margin: 30px auto 0;
}

.reg-form label {
    cursor: pointer;
}

.reg-form input {
    display: block;
    width: 100%;

}

.reg-form input[type='text'] {
    height: 32px;
    margin: 0 auto 18px;
    padding-left: 25px;
    border: 1px solid rgba(150, 150, 150, 0.50);
    border-radius: 8px;
}

.reg-form input[type='text']:last-child {
    margin-bottom: 28px;
}

.reg-form input[type="checkbox"] {
    display: inline-block;
    width: 10%;
    height: 42px;
    font-size: 14px;
    font-weight: 300;
    color: #4a505a;
    cursor: pointer;
}

.reg-form span {
    display: inline-block;
    width: 85%;
    height: 42px;
    text-align: left;
    font-size: 14px;
}

.reg-form input[type="submit"] {
    width: 296px;
    height: 64px;
    margin: 38px auto 0;
    background: #6adf75;
    border: 1px solid #6adf75;
    border-radius: 6px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}

/*---------------------------------------------REGISTER PAGE STYLING END------------------------------------------*/

/*---------------------------------------------TENDERS PAGE STYLING START------------------------------------------*/
.tend-wrp {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 556px;
    margin: 0 auto;
    background: #f7fafa;
    text-align: center;
    color: #4a505a;
}

.tend-wrp h1 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #777e89;
    padding: 25px 0 14px;
}

.tend-wrp__nav {
    display: inline-block;
    position: relative;
    width: 24.4%;
    height: 499px;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
    border-bottom: none;
    margin-left: 16px;
    vertical-align: top;

}

.tend-wrp__list {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 499px;
    padding: 35px;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
    border-bottom: none;
    vertical-align: top;
}

.tend-wrp__list p {
    text-align: left;
    padding: 10px 0;
}

.tend-wrp__nav--search {
    display: block;
    width: 100%;
    height: 55px;
    background: url("../images/search@3x.png") 15% center no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
}

.tend-wrp__nav h4 {
    display: block;
    width: 100%;
    height: 45px;
    text-align: left;
    font-size: 24px;
    vertical-align: bottom;
    padding: 0 0 9px 32px;
    border-bottom: 1px solid #dedede;
    font-weight: 300;
}

.tend-wrp__nav input {
    outline: none;
    border: 1px solid transparent;
    width: 73%;
    height: 55px;
    float: right;
    font-size: 14px;
    font-weight: 300;
}

.tend-wrp__nav--directions {
    padding-top: 20px;
}

.tend-wrp__nav--directions > div {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 5px 10px 75px;
    font-size: 16px;
    -webkit-transition: border ease-in-out 0.2s;
    -moz-transition: border ease-in-out 0.2s;
    -o-transition: border ease-in-out 0.2s;
    transition: border ease-in-out 0.2s;
}

.tend-wrp__nav--directions .all {
    color: #00b2ff;
    padding: 10px 5px 10px 32px;
}

.tend-wrp__nav--directions div:hover {
    border-left: 4px solid #6adf75;
}

.tend-wrp__nav--directions .all:hover {
    border-left: 4px solid #00b2ff;
}

.tend-wrp__nav--directions .active {
    border-left: 4px solid #6adf75;
}

.tend-wrp__nav--directions .all.active {
    border-left: 4px solid #00b2ff;
}

.tend-wrp__nav--directions div:nth-child(2) {
    background: url("../images/home@3x.png") 32px center no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
}

.tend-wrp__nav--directions div:nth-child(3) {
    background: url("../images/tree@3x.png") 32px center no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
}

.tend-wrp__nav--directions div:nth-child(4) {
    background: url("../images/education@3x.png") 32px center no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
}

.tend-wrp__nav--directions div:nth-child(5) {
    background: url("../images/social@3x.png") 35px center no-repeat;
    -webkit-background-size: 12px;
    background-size: 12px;
}

/*---------------------------------------------TENDERS PAGE STYLING END------------------------------------------*/

/*---------------------------------------------POPULAR PROJECTS PAGE STYLING START-------------------------------*/
.map__pop--wrp {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1440px;
    -height: 1190px;
    margin: 0 auto;
    background: #f7fafa;
    text-align: center;
    color: #4a505a;
}

.map-controller, .popular-controller {
    display: inline-block;
    width: 85px;
    padding: 37px 20px;
    font-size: 16px;
}

.hide {
    display: none !important;
}

.controller {
    cursor: pointer;
}

.active-green {
    color: #6adf75;
}

.popular-wrp, .map-wrp {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.popular-wrp {
    height: 1092px;
}

.popular-wrp h2 {
    font-size: 34px;
    margin-bottom: 36px;
}

.interesting {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: 360px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #d9d9de;
    overflow: hidden;
    text-align: left;
}

.interesting__img, .interesting__story {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.interesting__img {
    width: 46%;
}

.interesting__img img {
    display: block;
    width: 100%;
    height: 100%;
}

.interesting__story {
    width: 54%;
}

.interesting__story .story-header {
    display: block;
    position: relative;
    width: 101%;
    height: 36px;
    background: #6adf75;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    padding-left: 40px;
    line-height: 35px;
}

.interesting__story .story-header::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: -9px;
    left: 51px;
    background: #6adf75;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
}

.interesting__story .story-body {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 40px 40px 40px;
}

.interesting__story .story-body h4 {
    font-size: 34px;
    padding: 28px 0 8px;
}

.interesting__story .story-body h5 {
    font-size: 19px;
    padding-bottom: 25px;
}

.interesting__story .story-body > p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 23px;
}

.interesting__story .progressbar_outer {
    display: block;
    width: 100%;
    height: 6px;
    margin-bottom: 18px;
    border-radius: 6px;
    background: rgba(106, 223, 117, 0.3);
}

.interesting__story .progressbar_inner {
    display: block;
    width: 59%;
    height: 6px;
    border-radius: 6px;
    background: #6adf75;
}

.interesting__story--info {
    display: inline-block;
    width: 24%;
}

.interesting__story--info:nth-child(1) {
    width: 27%;
}

.interesting__story--info:nth-child(3) {
    width: 20%;
}

.interesting__story .count {
    font-size: 18px;
}

.interesting__story .bottom {
    font-size: 13px;
    color: #777e89;
}

.popular-wrp h3 {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0 47px;
    font-size: 29px;
    text-align: left;
}

.popular-wrp-just {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
}

.justify-line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: transparent;
    margin: 0 auto;
}

.popular {
    display: inline-block;
    width: 30%;
    max-width: 320px;
    height: 481px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #d9d9de;
    overflow: hidden;
    text-align: left;
}

.popular__img, .popular__story {
    display: block;
    width: 100%;
    height: 50%;
    vertical-align: top;
}

.popular__img img {
    display: block;
    width: 100%;
    height: 100%;
}

.popular__story .story-body {
    display: block;
    position: relative;
    width: 100%;
    padding: 24px;
}

.popular__story .story-body h4 {
    font-size: 14px;
    padding-bottom: 8px;
}

.popular__story .story-body h5 {
    font-size: 13px;
    padding-bottom: 15px;
}

.popular__story .story-body > p {
    font-size: 10px;
    line-height: 14px;
    padding-bottom: 13px;
}

.popular__story .story-body h6 {
    font-size: 11px;
    padding-bottom: 15px;
}

.popular__story .progressbar_outer {
    display: block;
    width: 100%;
    height: 6px;
    margin-bottom: 18px;
    border-radius: 6px;
    background: rgba(106, 223, 117, 0.3);
}

.popular__story .progressbar_inner {
    display: block;
    width: 59%;
    height: 6px;
    border-radius: 6px;
    background: #6adf75;
}

.popular__story--info {
    display: inline-block;
    width: 23%;
    vertical-align: top;
}

.popular__story .count {
    font-size: 9px;
}

.popular__story .bottom {
    font-size: 7px;
    color: #777e89;
}

/*map map mapmap map mapmap map mapmap map mapmap map mapmap map map*/

.map-wrp {
    max-width: 1151px;
    height: 927px;
}

.map-wrp .tend-wrp {
    max-width: 1151px;
    height: 927px;
}

.map-wrp .tend-wrp__nav {
    width: 30%;
    margin: 0 10px 0 0;
    border: 1px solid #d9d9de;
    height: 927px;
}

.map-wrp .pop-wrp__list {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 65%;
    border: none;
    height: 927px;
    padding: 0;
}

.map-in-popular {
    display: block;
    width: 100%;
    height: 535px;
    margin-bottom: 25px;
}

.map-in-popular img {
    width: 100%;
    height: 100%;
}

.map-search {
    display: block;
    width: 100%;
    height: 40px;
    box-shadow: inset 0 1px 3px rgba(119, 125, 136, 0.4);
}

.map-search input {
    display: block;
    width: 100%;
    height: 40px;
    background: rgba(119, 125, 136, 0.17) url("../images/search@3x.png") 44% center no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
    border: rgba(119, 125, 136, 0.4);
    text-align: center;
}

.map-info {
    display: block;
    width: 100%;
    padding: 20px 55px;
    text-align: left;
}

.map-info h5, .map-info p {
    font-size: 20px;
    color: #9197a3;
    padding-bottom: 30px;
}

.map-info p {
    text-align: left;
    padding-left: 70px;
}

.map-info .city {
    background: url("../images/home@3x.png") 0 0 no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
}

.map-info .tree {
    background: url("../images/tree@3x.png") 0 0 no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
}

.map-info p > span {
    display: inline-block;
    vertical-align: top;
}

.map-info .goal {
    width: 38%;
    font-size: 14px;
    color: #777e89;
}

.map-info .point {
    width: 34%;
    font-size: 11px;
}

.map-info .progressbar_outer {
    float: right;
    width: 25%;
    height: 7px;
    border-radius: 5px;
    background: #d6d6d6;
}

.map-info .progressbar_inner {
    display: block;
    width: 59%;
    height: 7px;
    border-radius: 5px;
    background: #6adf75;
}

.map-wrp .tend-wrp__nav h4 {
    display: block;
    width: 100%;
    height: 60px;
    text-align: left;
    font-size: 24px;
    line-height: 24px;
    vertical-align: bottom;
    padding: 29px 0 9px 32px;
    border-bottom: 1px solid #dedede;
    font-weight: 300;
}

/*---------------------------------------------POPULAR PROJECTS PAGE STYLING END-------------------------------*/

/*---------------------------------------------TENDER DETAILS PAGE STYLING START-------------------------------*/
.tend-det-main--wrp {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 847px;
    margin: 0 auto;
    background: #f7fafa;
    text-align: center;
    color: #4a505a;
    border: 1px solid #d9d9de;
    border-radius: 7px;
}

.ten-det--wrp {
    display: block;
    width: 100%;
    height: 665px;
    margin: 0 auto;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.ten-det--wrp h2 {
    font-size: 37px;
    padding: 18px 0 13px;
}

.ten-det--wrp h3 {
    font-size: 21px;
    padding-bottom: 23px;
    color: #777e89;
}

.td-interesting {
    display: block;
    width: 100%;
    max-width: 1152px;
    height: 665px;
    margin: 0 auto;
    padding: 55px 55px 0;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #d9d9de;
    overflow: hidden;
    text-align: left;
}

.td-interesting__img, .td-interesting__story {
    display: inline-block;
    width: 47.5%;
    height: 361px;
    vertical-align: top;
}

.td-interesting__img {
    padding-right: 5%;
}

.td-interesting__img img {
    display: block;
    width: 100%;
    height: 323px;
}

.td-interesting__story .story-header {
    font-size: 32px;
    color: #494949;
    padding-bottom: 36px;

}

.interesting__story .story-body h4 {
    font-size: 37px;
    padding: 18px 0 13px;
}

.interesting__story .story-body h5 {
    font-size: 21px;
    padding-bottom: 23px;
    color: #777e89;
}

.td-interesting__story > p {
    max-height: 210px;
    overflow: hidden;
    font-size: 28px;
    line-height: 44px;
    padding-bottom: 35px;
    color: #777e89;
}

.td-interesting .progress-block {
    display: block;
    width: 100%;
    padding: 21px 50px 10px;
    background: #f7fafa;
}

.td-interesting .progressbar_outer {
    display: block;
    width: 100%;
    height: 6px;
    margin-bottom: 18px;
    border-radius: 6px;
    background: rgba(106, 223, 117, 0.3);
}

.td-interesting .progressbar_inner {
    display: block;
    width: 59%;
    height: 6px;
    border-radius: 6px;
    background: #6adf75;
}

.td-interesting__story--info {
    display: inline-block;
    width: 24%;
}

.td-interesting__story .count {
    font-size: 19px;
}

.td-interesting__story .bottom {
    font-size: 14px;
    color: #777e89;
}

.td-interesting .take-part-btn {
    display: block;
    width: 265px;
    height: 62px;
    margin: 35px auto 0;
    background: #6adf75;
    border-radius: 7px;
    font-size: 21px;
    line-height: 63px;
    color: #FFFFFF;
    text-align: center;
}

/*---------------------------------------------TENDER DETAILS PAGE STYLING END-------------------------------*/
/*---------------------------------------------PROJECT DETAILS PAGE STYLING START-------------------------------*/

.project-det-main-wrp {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 1250px;
    margin: 0 auto;
    padding: 0 20px;
    background: #f7fafa;
    text-align: center;
    color: #4a505a;
}

.project-det-main-wrp > h2 {
    font-size: 39px;
    padding-top: 18px;
}

.project-det-main-wrp > h3 {
    font-size: 22px;
    color: #777e89;

}

.project-det-main-wrp > h4 {
    display: block;
    max-width: 1140px;
    width: 100%;
    margin: 41px auto 0;
    padding: 0 20px;
    font-size: 39px;
    color: #494949;
    text-align: left;
}

.project-det-main-wrp > p {
    display: block;
    max-width: 1140px;
    margin: 29px auto 0;
    padding: 0 20px;
    font-size: 29px;
    line-height: 46px;
    color: #777e89;
    text-align: left;
}

.project-det-main-wrp__story {
    display: block;
    width: 100%;
    max-width: 1152px;
    height: 539px;
    margin: 30px auto 0;
    padding: 46px 50px;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
}

.project-det-main-wrp__story > img {
    display: inline-block;
    width: 64%;
    height: 445px;
}

.project-det-main-wrp__story .info {
    display: inline-block;
    width: 34%;
    height: 445px;
    padding-left: 40px;
    padding-top: 20px;
    vertical-align: top;
    text-align: left;
}

.project-det-main-wrp__story .info .count {
    display: block;
    font-size: 33px;
    line-height: 46px;
    margin-top: 19px;
    padding-left: 40px;
}

.project-det-main-wrp__story .info .int {
    display: block;
    font-size: 20px;
    color: #494949;
}

.project-det-main-wrp__story .info .adress {
    display: block;
    font-size: 22px;
    margin-top: 25px;
}

.project-det-main-wrp .btn {
    display: block;
    width: 100%;
    max-width: 276px;
    height: 64px;
    margin: 19px auto 0;
    background: #6adf75;
    border-radius: 7px;
    font-size: 22px;
    line-height: 65px;
    color: #FFFFFF;
    text-align: center;

    -box-shadow: 0 0 1px #d9d9de;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
}

.project-det-main-wrp .btn:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px #aaa;
}

.info .members .count {
    background: url("../images/Man@2x.png") 0 center no-repeat;
    -webkit-background-size: 25px;
    background-size: 25px;
}

.info .money .count {
    background: url("../images/Shape@2x.png") 0 center no-repeat;
    -webkit-background-size: 25px;
    background-size: 25px;
}

.info .date .count {
    background: url("../images/Clock@2x.png") 0 center no-repeat;
    -webkit-background-size: 25px;
    background-size: 25px;
}

.comments .input {
    display: block;
    width: 100%;
    max-width: 1140px;
    margin: 16px auto;
    padding: 0 20px;
    font-size: 22px;
    color: #9197a3;
    text-align: left;
}

.comments .input input {
    display: block;
    width: 100%;
    max-width: 1100px;
    height: 64px;
    margin: 16px auto;
    padding-left: 45px;
    font-size: 22px;
    border-radius: 6px;
    border: 1px solid #d9d9de;
    color: #000000;
}

.comments .comment {
    display: block;
    width: 100%;
    max-width: 1140px;
    padding: 0 20px 20px;
    margin: 30px auto 0;
    text-align: left;
}

.interesting__story .story-header::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: -9px;
    left: 51px;
    background: #6adf75;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
}

.comments .comment > img {
    display: inline-block;
    height: 52px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
}

.comments .comment .member-info {
    display: inline-block;
    height: 52px;
    vertical-align: top;
}

.comment .member-info .name {
    font-size: 17px;
    color: #777e89;
    padding-left: 20px;
}

.comment .member-info .date {
    font-size: 16px;
    color: #9197a3;
    padding-left: 20px;
}

.comment .message {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1100px;
    min-height: 60px;
    margin: 12px auto 0;
    padding-left: 45px;
    background: #d3e0f5;
    border-radius: 6px;
    font-size: 20px;
    color: #9197a3;
}

.comment .message::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -6px;
    left: 17px;
    background: #d3e0f5;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
}

.comment .message > p {
    padding: 16px 0;
}

/*-------------POPUP--------------*/

.hidden {
    display: none !important;
}

.hidden-body {
    -overflow: hidden;
}

.popup__hide-all {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 1890px;
    overflow: hidden;
    background: rgba(119, 119, 119, 0.40);
    z-index: 5;
}

.popup__choose-help {
    display: block;
    width: 750px;
    height: 375px;
    position: absolute;
    top: calc(20% - 190px);
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
    border-radius: 10px;
    text-align: center;
}

.popup__choose-help > h6 {
    font-size: 27px;
    color: #4a505a;
    margin: 0 auto;
    padding: 53px 0 67px;
}

.popup__choose-help .switch {
    display: inline-block;
    width: 184px;
    color: #9197a3;
    vertical-align: top;
}

.popup__choose-help .switch.middle {
    width: 274px;
}

.popup__choose-help .btn {
    display: block;
    width: 184px;
    height: 60px;
    margin: 0 0 22px;
    border-radius: 7px;
    box-shadow: -3px 3px 3px #d9d9de;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 61px;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
}

.popup__choose-help .btn:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px #aaa;
}

.orange {
    background: #ffc107;
}

.green {
    background: #6adf75;
    margin: 0 auto 22px !important;
}

.blue {
    background: #2196f3;
}

.popup__choose-help .skills {
    width: 184px;
    margin: 0 auto;
}

.popup__close {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 19px;
    right: 19px;
    background: url("../images/rectangle-371@3x.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.popup__close:hover {
    width: 19px;
    height: 19px;
    top: 16px;
    right: 16px;
}

/*---------------------------------------------PROJECT DETAILS PAGE STYLING END-------------------------------*/
/*---------------------------------------------COMPANY PAGE STYLING START-------------------------------*/
.company-main-wrp {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 1200px;
    margin: 0 auto;
    background: #f7fafa;
    text-align: center;
    color: #FFFFFF;
}

.company-top-wrp {
    display: block;
    position: relative;
    width: 100%;
    min-height: 370px;
    padding: 0 20px;
    background: #2196f3;
    text-align: left;
}

.company-top-wrp .company-top {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
}

.company-top > h2 {
    font-size: 36px;
    padding-top: 100px;
    padding-left: 310px;
}

.company-top > span {
    display: inline-block;
    font-size: 24px;
    color: #d9d9de;

    padding: 7px 0 75px 310px;
}

.counter.light.text-green {
    padding-left: 0;
}

.switch-info {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1152px;
    height: 100px;
    margin: 0 auto;
    padding-top: 66px;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: #9197a3;
}

.company-top-wrp .switch-info::after {
    content: "";
    display: block;
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #2196f3;
    top: -200px;
    left: 57px;
}

.company-logo, .company-profile {
    display: block;
    position: absolute;
}

.company-top-wrp .switch-info > .btn {
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 0 45px;
    font-size: 20px;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
}

.company-top-wrp .switch-info > .btn::after {
    content: "";
    display: block;
    width: 135px;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.company-top-wrp .switch-info > .btn:hover::after {
    background: #2196f3;
}

.company-top-wrp .switch-info > .btn.underline::after {
    background: #2196f3;
}

.company-logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    top: -180px;
    left: 76px;
    z-index: 4;

    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.company-logo:hover {
    transform: scale(1.05, 1.05);
}

.company-profile {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background: #1976d2;

    top: -75px;
    right: 5px;

    color: #FFFFFF;
    line-height: 51px;
    font-size: 24px;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
}

.company-profile:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.44);
}

.company-main-wrp .new-idea:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.44);
}

.company-bottom-wrp {
    display: block;
    position: relative;
    width: calc(100% - 40px);
    max-width: 1152px;
    min-height: 830px;
    margin: 0 auto;
    padding: 50px 56px;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
    border-top: none;
    border-bottom: none;
    text-align: center;
    color: #9197a3;
}

.company-bottom-wrp .city {
    display: block;
    position: relative;
    width: calc(100% - 90px);
    min-height: 50px;
    margin-bottom: 40px;

    border-radius: 5px;
    background: #f7fafa url("../images/home@3x.png") 40px center no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
    text-align: left;
}

.company-bottom-wrp .city .goal {
    font-size: 18px;
    line-height: 51px;
    padding-left: 19%;
}

.company-bottom-wrp .city .point {
    font-size: 14px;
    line-height: 51px;
    padding-left: 30px;
}

.company-bottom-wrp .progressbar_outer {
    display: block;
    position: absolute;
    top: calc(50% - 3px);
    right: 14px;
    width: 16%;
    height: 7px;
    border-radius: 5px;
    background: #d6d6d6;
}

.company-bottom-wrp .progressbar_inner {
    display: block;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #6adf75;
}

.company-bottom-wrp .checkbox {
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    right: -90px;
    width: 40px;
    height: 40px;
    border: 2px solid #d9d9de;
    border-radius: 50%;
    background: url("../images/checkbox-00@3x.png") center center no-repeat;
    -webkit-background-size: 14px 10px;
    background-size: 14px 10px;
}

/*---------------------------------------------COMPANY PAGE STYLING END-------------------------------*/
/*---------------------------------------------PROFILE PAGE STYLING START-------------------------------*/

.profile-main-wrp {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 1200px;
    margin: 0 auto;
    background: #f7fafa;
    text-align: center;
    color: #FFFFFF;
}

.profile-top-wrp {
    display: block;
    position: relative;
    width: 100%;
    min-height: 370px;
    padding: 0 20px;
    background: #ffc107;
    text-align: left;
}

.profile-top-wrp .profile-top {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
}

.profile-top > h2 {
    font-size: 36px;
    padding-top: 100px;
    padding-left: 310px;
}

.profile-top > span {
    display: inline-block;
    font-size: 24px;
    padding: 7px 0 75px 310px;
}

.counter.light.text-blue {
    padding-left: 0;
}

.profile-top-wrp .switch-info {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1152px;
    height: 100px;
    margin: 0 auto;
    padding-top: 66px;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: #9197a3;
}

.profile-top-wrp .switch-info:after {
    content: "";
    display: block;
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #ffc107;
    top: -200px;
    left: 57px;
}

.profile-top-wrp .switch-info > .btn {
    display: inline-block;
    height: 100%;
    position: relative;
    padding: 0 45px;
    font-size: 20px;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
}

.profile-top-wrp .switch-info > .btn::after {
    content: "";
    display: block;
    width: 135px;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile-top-wrp .switch-info > .btn:hover::after {
    background: #ffc107;
}

.profile-top-wrp .switch-info > .btn.underline::after {
    background: #ffc107;
}

.profile-logo, .profile-profile {
    display: block;
    position: absolute;
}

.profile-logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    top: -180px;
    left: 76px;
    z-index: 4;

    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.profile-logo:hover {
    transform: scale(1.05, 1.05);
}

.profile-profile {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background: #ff9800;

    top: -75px;
    right: 5px;

    color: #FFFFFF;
    line-height: 51px;
    font-size: 24px;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
}

.profile-profile:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.44);
}

.profile-main-wrp .new-idea:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.44);
}

.profile-bottom-wrp {
    display: block;
    position: relative;
    width: calc(100% - 40px);
    max-width: 1152px;
    min-height: 830px;
    margin: 0 auto;
    padding: 50px 56px;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
    border-top: none;
    border-bottom: none;
    text-align: center;
    color: #9197a3;
}

.profile-bottom-wrp .city {
    display: block;
    position: relative;
    width: calc(100% - 90px);
    min-height: 50px;
    margin-bottom: 40px;

    border-radius: 5px;
    background: #f7fafa url("../images/home@3x.png") 40px center no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
    text-align: left;
}

.profile-bottom-wrp .city .goal {
    font-size: 18px;
    line-height: 51px;
    padding-left: 19%;
}

.profile-bottom-wrp .city .point {
    font-size: 14px;
    line-height: 51px;
    padding-left: 30px;
}

.profile-bottom-wrp .progressbar_outer {
    display: block;
    position: absolute;
    top: calc(50% - 3px);
    right: 14px;
    width: 16%;
    height: 7px;
    border-radius: 5px;
    background: #d6d6d6;
}

.profile-bottom-wrp .progressbar_inner {
    display: block;
    -width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #6adf75;
}

.profile-bottom-wrp .checkbox {
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    right: -90px;
    width: 40px;
    height: 40px;
    border: 2px solid #d9d9de;
    border-radius: 50%;
    background: url("../images/checkbox-00@3x.png") center center no-repeat;
    -webkit-background-size: 14px 10px;
    background-size: 14px 10px;
}

/*---------------------------------------------PROFILE PAGE STYLING END-------------------------------*/
/*---------------------------------------------OFFER STYLING START-------------------------------*/

.offer-main-wrp {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: #f7fafa;
    text-align: center;
    color: #4a505a;
}

.offer-wrp-1 {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1152px;
    min-height: 970px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
    border-bottom: none;
    border-top: none;
    text-align: center;
}

.offer-wrp-1 > h1 {
    padding: 130px 0;
    font-size: 48px;
}

.offer-wrp-1 > h2 {
    padding-bottom: 75px;
    font-size: 42px;
}

.offer-wrp-1 input {
    display: block;
    width: 500px;
    height: 59px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    border: none;
    border-bottom: 2px solid #9197a3;
}

.offer-wrp-1 > h3 {
    padding: 57px 0 111px;
    font-size: 42px;
}

.offer-wrp-1 .start {
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 28px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.offer-wrp-1 .start:hover {
    transform: scale(1.15, 1.15);
}

.offer-wrp-2 {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1152px;
    min-height: 970px;
    margin: 0 auto;
    border: 1px solid #d9d9de;
    border-bottom: none;
    border-top: none;
    text-align: center;
    background: #FFFFFF url("../images/navigation@2x.png") 40px 64% no-repeat;
    -webkit-background-size: 26px 198px;
    background-size: 26px 198px;
}

.offer-wrp-2 > h1 {
    padding: 90px 0 52px;
    font-size: 48px;
}

.offer-wrp-2 .set-adress {
    display: block;
    width: 100%;
    max-width: 940px;
    height: 70px;
    margin: 0 auto 65px;
    background: #f7fafa;
    border-radius: 8px;
    text-align: center;
}

.set-adress span {
    display: inline-block;
    padding-right: 40px;
    color: #777e89;
    line-height: 71px;
    font-size: 24px;
}

.set-adress input {
    display: inline-block;
    width: 474px;
    height: 40px;
    border: 1px solid #d9d9de;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 20px;
}

.offer-wrp-2 .map {
    display: block;
    width: 100%;
    max-width: 940px;
    height: 500px;
    margin: 0 auto 60px;
}

.offer-wrp-2 .map > img {
    width: 100%;
    height: 100%;
}

.offer-wrp-2 .back {
    color: #999ca3;
}

.offer-wrp-2 .nav {
    display: block;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    text-align: right;
}

.offer-wrp-2 .back, .offer-wrp-2 .next {
    display: inline-block;
    font-size: 28px;
    padding-left: 59px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.offer-wrp-2 .back:hover, .offer-wrp-2 .next:hover {
    transform: scale(1.15, 1.15);
}

.offer-wrp-3 {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1152px;
    min-height: 1200px;
    margin: 0 auto;
    background: #FFFFFF;
    text-align: center;
    color: #4a505a;
    border: 1px solid #d9d9de;
    border-bottom: none;
    border-top: none;
}

.offer-wrp-3 > h2 {
    font-size: 42px;
    padding: 90px 0 42px;
}

.offer-wrp-3 > p {
    font-size: 24px;
    padding-bottom: 45px;
}

.input-cover {
    display: block;
    position: relative;
    width: 900px;
    max-width: 940px;
    margin: 0 auto 45px;
    padding: 0 144px 17px 25px;
    background: #f7fafa;
    border-radius: 8px;
    text-align: left;
    color: #777e89;
}

.money-deadline-wrp, .categories-wrp {
    height: 40px;
    font-size: 14px;
    line-height: 25px;
    color: #959ba4;
    background: #FFFFFF url("../images/category-icon@3x.png") 25px center no-repeat;
    -webkit-background-size: 23px 23px;
    background-size: 23px 23px;
    padding-left: 85px;
    border: 1px solid #d9d9de;
    border-radius: 8px;
    overflow: hidden;
}

.money-deadline-wrp {
    background: #FFFFFF url("../images/clock@3x.png") 25px center no-repeat;
    -webkit-background-size: 23px 23px;
    background-size: 23px 23px;
}

.input-cover > p {
    font-size: 24px;
    line-height: 36px;
    padding: 13px 0;
}

.input-cover .select, .input-cover select, .input-cover input {
    display: inline-block;
    position: relative;
    width: 100%;

    background: #FFFFFF;
    border: 1px solid #d9d9de;
    border-radius: 8px;
    overflow: hidden;
}

.input-cover .checkbox {
    display: block;
    position: absolute;
    top: 58%;
    right: 35px;
    width: 40px;
    height: 40px;
    border: 2px solid #d9d9de;
    border-radius: 50%;
    background: #FFFFFF;
}

.input-cover .checkbox.valid {
    background: url("../images/checkbox-00@3x.png") center center no-repeat;
    -webkit-background-size: 14px 10px;
    background-size: 14px 10px;
}

.drag-n-drop .select {
    height: 99px;
    padding: 27px 0 0 85px;
    font-size: 14px;
    line-height: 25px;
    color: #959ba4;
    background: #FFFFFF url("../images/photo-icon@3x.png") 25px center no-repeat;
    -webkit-background-size: 40px 35px;
    background-size: 40px 35px;
}

.drag-n-drop .choose {
    position: absolute;
    top: calc(50% - 10px);
    right: 29px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.drag-n-drop .choose:hover {
    transform: scale(1.15, 1.15);
}

.input-cover select {
    height: 38px;
    font-size: 14px;
    line-height: 25px;
    color: #959ba4;
    border: none;
    width: 104%;
    background: #FFFFFF url("../images/arrow@3x.png") 90% center no-repeat;
    -webkit-background-size: 19px 11px;
    background-size: 19px 11px;
}

.input-cover option {
    padding-left: 85px;
}

.radio-btns label {
    display: inline-block;
    width: 15%;
}

.input-cover[type="radio"] {

}

.details input {
    height: 190px;
}

.add-file {
    position: absolute;
    bottom: 35px;
    right: 170px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.add-file:hover {
    transform: scale(1.15, 1.15);
}

.offer-wrp-3 .back {
    color: #999ca3;
}

.offer-wrp-3 .nav {
    display: block;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 50px 0 87px;
    text-align: right;
}

.offer-wrp-3 .back, .offer-wrp-3 .next {
    display: inline-block;
    font-size: 28px;
    padding-left: 59px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.offer-wrp-3 .back:hover, .offer-wrp-3 .next:hover {
    transform: scale(1.15, 1.15);
}

.radio-select {
    display: inline-block;
    height: 40px;
    font-size: 16px;
    line-height: 41px;
    color: #959ba4;
    background: #FFFFFF url("../images/checkbox-5@3x.png") 25px center no-repeat;
    -webkit-background-size: 23px 23px;
    background-size: 23px 23px;
    padding-left: 85px;
}

.radio-select.selected {
    background: #FFFFFF url("../images/Checkbox.png") 25px center no-repeat;
    -webkit-background-size: 23px 23px;
    background-size: 23px 23px;
}

.offer-wrp-4 {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1152px;
    min-height: 970px;
    margin: 0 auto;
    background: #f7fafa;
    text-align: center;
}

.offer-wrp-4 > h2 {
    font-size: 39px;
    padding-top: 18px;
}

.offer-wrp-4 > h3 {
    font-size: 22px;
    color: #777e89;

}

.offer-wrp-4 > h4 {
    display: block;
    max-width: 1140px;
    width: 100%;
    margin: 41px auto 0;
    padding: 0 20px;
    font-size: 39px;
    color: #494949;
    text-align: left;
}

.offer-wrp-4 > p {
    display: block;
    max-width: 1140px;
    margin: 29px auto 0;
    padding: 0 20px;
    font-size: 29px;
    line-height: 46px;
    color: #777e89;
    text-align: left;
}

.offer-wrp-4__story {
    display: block;
    width: 100%;
    max-width: 1152px;
    height: 539px;
    margin: 30px auto 0;
    padding: 46px 50px;
    background: #FFFFFF;
    border: 1px solid #d9d9de;
}

.offer-wrp-4__story > img {
    display: inline-block;
    width: 64%;
    height: 445px;
}

.offer-wrp-4__story .info {
    display: inline-block;
    width: 34%;
    height: 445px;
    padding-left: 40px;
    padding-top: 20px;
    vertical-align: top;
    text-align: left;
}

.offer-wrp-4__story .info .count {
    display: block;
    font-size: 33px;
    line-height: 46px;
    margin-top: 19px;
    padding-left: 40px;
}

.offer-wrp-4__story .info .int {
    display: block;
    font-size: 20px;
    color: #494949;
}

.offer-wrp-4__story .info .adress {
    display: block;
    font-size: 22px;
    margin-top: 25px;
}

.offer-wrp-4 .btn {
    display: block;
    width: 100%;
    max-width: 276px;
    height: 64px;
    margin: 19px auto 0;
    background: #6adf75;
    border-radius: 7px;
    font-size: 22px;
    line-height: 65px;
    color: #FFFFFF;
    text-align: center;

    -box-shadow: 0 0 1px #d9d9de;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
}

.offer-wrp-4 .btn:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px #aaa;
}

.info .members .count {
    background: url("../images/Man@2x.png") 0 center no-repeat;
    -webkit-background-size: 25px;
    background-size: 25px;
}

.info .money .count {
    background: url("../images/Shape@2x.png") 0 center no-repeat;
    -webkit-background-size: 25px;
    background-size: 25px;
}

.info .date .count {
    background: url("../images/Clock@2x.png") 0 center no-repeat;
    -webkit-background-size: 25px;
    background-size: 25px;
}

.offer-wrp-4 .nav {
    display: block;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 127px 20px 52px;
    text-align: center;
}

.offer-wrp-4 .back {
    color: #999ca3;
}

.offer-wrp-4 .submit {
    width: 345px;
    height: 69px;
    background: #6adf75;
    border-radius: 9px;
    line-height: 70px;
    color: #FFFFFF;
}

.offer-wrp-4 .back, .offer-wrp-4 .submit {
    display: inline-block;
    font-size: 32px;
    margin-left: 42px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.offer-wrp-4 .back:hover {
    transform: scale(1.15, 1.15);
}

.offer-wrp-4 .submit:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.44);
}


