<button ng-click="main.prevStory()" class="md-raised md-primary md-button md-ink-ripple" type="button"
        ng-disabled="main.disabledPrev">Previous Story
</button>

<button ng-click="main.nextStory()" class="md-raised md-primary md-button md-ink-ripple" type="button"
        ng-disabled="main.disabledNext">Next Story
</button>

<md-content flex layout-padding>
  <div class="md-tile-content" layout="row">

    <div flex="30">
      <img ng-src="{{main.story.image}}" class="story-image" title="image"/>
    </div>

    <div flex="5"></div>

    <div flex="65">
      <p>{{main.story.title}}</p>

      <div ng-bind-html="main.story.body"></div>

    </div>

  </div>
</md-content>

