* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

.feedback {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    width: 100%;
    height: 315px;
    background-image: url('Rectangle-35 copy.png');
}

.feedback__header {
    height: 90px;
    font-size: 40px;
    line-height: 90px;
    vertical-align: baseline;
    text-align: center;
}

.feedback__header__orange {
    color: #ee8129;
    vertical-align: -11px;
}

.feedback__header__blue {
    color: #3170a8;
    vertical-align: -11px;
}

.feedbackbox {
    position: relative;
    width: 100%;
    height: 225px;
}
.feedbackbox * {
    display: inline-block;
}

.feedback__boxinside {
    display: inline-block;
    position: relative;
    width: 490px;
    height: 98px;
    margin-top: 45px;
}

.stasia.feedback__boxinside {
    margin-left: 210px;
}
.david.feedback__boxinside {
    margin-left: 60px;
}

.feedback__photo {
    width: 99px;
    height: 98px;
}

.feedback__photo.stasia {
    background-image: url('Layer-94.png');
    position: relative;
    top: -3px;

}

.feedback__photo.david {
    background-image: url('Layer-95.png');
    position: relative;
    top: -3px;

}

.feedback__message {
    position: relative;
    left: 23px;
    width: 364px;
    height: 98px;
    background: #ffffff;
}

.feedback__message__name::before {
    content: "- ";
}

.feedback__message__name, .feedback__message__customer {
    color: #3070a8;
    font-style: italic;
}

.feedback__message__textfeedback {
    position: relative;
    left: 17px;
    top: 20px;
    width: 330px;
    height: 60px;
    border-top: 2px dotted #666666;
    color: #666666;
    line-height: 1.5;
    padding-top: 6px;
    font-size: 13px;
}

.feedback__message__name {
    position: relative;
    left: 15px;
    top: 11px;
}

.feedback__message__customer {
    position: relative;
    right: -140px;
    top: 11px;
}

.feedback__message__customer.david {
    position: relative;
    right: -170px;
    top: 11px;
}

.feedback__message__narrov {
    position: relative;
    top: -40px;
    left: -32px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 17px solid #ffffff;
    border-bottom: 12px solid transparent;
    border-left: 17px solid transparent;
}