tr:nth-of-type(2n) {
    background: #ddebf7;
}
/* не знаю какую задать формулу - прописать на бумаге
td:nth-of-type(***) {
    background-color: #f2f2de;
}*/

tr :nth-child(3) {
    background-color: #f2f2de;
}

tr :nth-child(5) {
    background-color: #f2f2de;
}

tr :nth-child(7) {
    background-color: #f2f2de;
}

tr :nth-child(9) {
    background-color: #f2f2de;
}

