input {
    display: none;
}

span {
    display: none;
}
label[for="red"] {
    color: red;
    border-bottom: 1px solid;
    margin: 10px;
    opacity: 0.5;
}

label[for="green"] {
    color: green;
    border-bottom: 1px solid;
    margin: 10px;
    opacity: 0.5;
}

label[for="blue"] {
    color: blue;
    border-bottom: 1px solid;
    margin: 10px;
    opacity: 0.5;
 }
/*правило для чекбокса*/
input#red:checked~label[for="red"] {
     color: red;
     border-bottom: 1px solid;
     margin: 10px;
     opacity: 1;
     display: inline-block;
 }
input#green:checked~label[for="green"] {
    color: green;
    border-bottom: 1px solid;
    margin: 10px;
    opacity: 1;
}
input#blue:checked~label[for="blue"] {
     color: blue;
     border-bottom: 1px solid;
     margin: 10px;
     opacity: 1;
 }
/* правило для спанов по классам */
input#red:checked~span.red {
    border: 1px red solid;
    border-radius: 7px;
    background-color: red;
    padding: 3px 5px;
    color: white;
    font-family: sans-serif;
    display: inline-block;
}

input#blue:checked~span.blue {
    border: 1px blue solid;
    border-radius: 7px;
    background-color: blue;
    padding: 3px 5px;
    color: white;
    font-family: sans-serif;
    display: inline-block;
}

input#green:checked~span.green {
    border: 1px green solid;
    border-radius: 7px;
    background-color: green;
    padding: 3px 5px;
    color: white;
    font-family: sans-serif;
    display: inline-block;
}