<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trust Sourcing test</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css"/>
    <script src="scripts/libs/angular.min.js"></script>
</head>
<body ng-app="tsApp" class="store">

<div class="main-wrp" ng-controller="tsCntrl">
    <header>
        <div class="data__switch-btn" ng-click="switchScroll($event)">Enable infinite scrolling</div>
    </header>

    <sections></sections>

    <footer>
        <div class="data_load-more-btn" ng-if="switch" ng-click="loadMore()">Load more</div>
    </footer>
</div>

<script src="scripts/script.js"></script>
</body>
</html>