* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    height: 995px;
    font-size: 16px;
    background: url("../img/bg.png") center no-repeat;
    background-size: cover;
    padding-top: 50px;
    font-family: Roboto, sans-serif;
}

body > h1 {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px #8E8E8E;
}

body > p {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: red;
    text-shadow: 0 0 2px #ABE5A1;
}

.main-wrp {
    display: block;
    position: relative;
    width: 60%;
    min-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.form {
    display: block;
    width: 100%;
    padding: 60px 12px;
    border: 1px;
    background: #B2DFDB;
    text-align: justify;
    z-index: 1;
    opacity: 0.99;
    box-shadow: 0 3px 6px -2px #545353;
}

.form_frame {
    display: inline-block;
    width: 7%;
    height: 80px;
    vertical-align: top;
    text-align: right;
    margin-left: 12px;
    background: #009688;
    /*box-shadow: 0 0 7px 0 #353535;*/
    box-shadow: 0 1px 2px 1px #777777;
    border-radius: 2px;

    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.form_frame:nth-child(1) {
    margin-left: 12px;
}

.form_frame:nth-child(10) {
    width: 10%;
}

.form_frame:last-child {
    width: 13%;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.form_frame label {
    display: inline-block;
    width: 47%;
    height: 50%;
    text-align: center;
}

.form_frame:nth-child(10) label {
    width: 30%;
}

.form_frame input {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    background: transparent;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.25em;
}

.form_frame input:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

.form_frame label:nth-child(n + 2) input {
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.form_frame--bottom {
    display: block;
    width: 100%;
    height: 50%;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.form_justify-line {
    display: inline-block;
    width: 100%;
    height: 1px;
}

.form_frame--score {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.form_frame--score .score_summ,
.form_frame--score .score_header {
    font-size: 2rem;
}

.controller {
    display: block;
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
}

.controller ul {
    display: block;
    width: 100%;
    height: 25%;
    text-align: center;
}

.controller li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #00796B;
    text-align: center;
    color: #727272;
    line-height: 36px;
}

.form_frame.active {
    transform: scale(1.05, 1.06);
    box-shadow: 0 1px 8px 1px #777777;
    background-color: #009616;
}