<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body ng-app="myapp">
<p>
    ng-click <br/>
    ng-dbl-click <br/>
    ng-mousedown <br/>
    ng-mouseup <br/>
    ng-mouseenter <br/>
    ng-mouseleave <br/>
    ng-mousemove <br/>
    ng-mouseover <br/>
    ng-keydown <br/>
    ng-keyup <br/>
    ng-keypress <br/>
    ng-change <br/>
</p>

<div ng-controller="MyController" >
    <ul>
        <li ng-repeat="item in myData.items"
            ng-click="myData.doClick(item, $event)">Click here</li>
    </ul>
</div>

<script>
    angular.module("myapp", [])
            .controller("MyController", function($scope) {
                $scope.myData = {};
                $scope.myData.items = [{ v: "1"}, { v: "2"}, { v : "3"} ];

                $scope.myData.doClick = function(item, event) {
                    alert("clicked: " + item.v + " @ " + event.clientX + ": " + event.clientY);
                    console.log(event);
                }


            } );
</script>

</body>
</html>

