.config-wrapper {
    display: block;
    min-width: 900px;
    width: 45%;
    background: #CDF3F9 url("../images/bcggrad.png");
    color: #fff;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    padding: 5px 0 0;
    text-align: center;
}

.config-wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
}

.config-wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 15px auto;
    font-size: 1.5rem;
    color: black;
}

.config-wrapper p {
    font-size: 1rem;
    text-align: left;
    margin: 5px;
}

.config-wrapper .add_slide,
.config-wrapper .delete-button {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #54B9CA;
    box-shadow: 0 3px 4px 0 rgba(62, 62, 66, 0.58);
    text-transform: uppercase;
    color: #fff;
    padding: 7px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 48px;
    line-height: 26px;
    font-weight: 400;
    background-clip: padding-box;
    margin: 10px auto;
    text-decoration: none;
    outline: none;
}

.add_slide {
    background: #33E852 !important;
}

.delete-button {
    background: #E83535 !important;
}

.config-wrapper label {
    position: relative;
    display: inline-block;
    width: 28.5%;
    min-height: 125px;
    margin: 8px 10px 5px;
    padding: .5rem .5rem 2.5rem;
    box-sizing: border-box;
    font-size: 1em;
    text-align: left;
    cursor: pointer;
    background: #59CEE2;
    vertical-align: top;
    box-shadow: 0 7px 26px 2px rgba(62, 62, 66, 0.58);
    color: #272727;
}

.repeat-block {
    padding: 10px 0 10px;
}

.repeat-block h4 {
    font-size: 1.25rem;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.repeat-block label {
    width: 88%;
    min-height: 35px;
    padding: 10px;
    margin: 6px auto;
    box-shadow: none;
    font-weight: 400;
}

.submit-button {
    width: 21%;
    margin: 0 auto 15px;
    background: #EFFF00;
    box-shadow: 0 3px 4px 0 rgba(62, 62, 66, 0.58);
    display: block;
    text-transform: uppercase;
    color: #000000;
    padding: 7px 16px;
    text-align: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

.config-wrapper input[type = 'text'] {
    position: absolute;
    bottom: 12px;
    border: none;
    border-radius: 0;
    padding: 4px 4px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    width: 15%;
    min-width: 55px;
    outline: none;
    font-size: .875em;
    font-family: Roboto, sans-serif;
    color: #4C4B4B;
    box-sizing: border-box;
}

.config-wrapper input:focus {
    outline: 1px solid #F51111;
}

.config-wrapper .add_slide:focus,
.config-wrapper .delete-button:focus {
    outline: none;
    box-shadow: 0 2px 1px 1px rgba(62, 62, 66, 0.58);
}

.theme-colors,
.slider-position {
    display: flex;
    width: 90%;
    margin: 0 auto 20px;
    text-align: center;
    box-shadow: 0 3px 4px 0 rgba(62, 62, 66, 0.58);
}

.theme-colors label,
.slider-position label {
    justify-content: space-between;
    min-height: 35px;
    padding: 10px;
    margin: 0;
    box-shadow: none;
    font-weight: 400;
    transition: all 0.3s;
}

.theme-colors label:hover,
.slider-position label:hover {
    transform: scale(1.05, 1.05);
    z-index: 2;
    box-shadow: 0 7px 26px 2px rgba(62, 62, 66, 0.58);
}

#blue {
    background: #00abb3;
}

#green {
    background: #75cb9c;
}

#orange {
    background: #fd7822;
}

#purple {
    background: #cdb2cf;
}

#red {
    background: #d10c45;
}

#none {
    background-color: #ffffff;
    color: #181818;
}

.repeat-block {
    margin-bottom: 5px;
    background: #F1F1F1;
}

.repeat-block .config__string {
    width: 90%;
    min-height: 35px;
    padding: 6px 10px;
    margin: 6px auto;
    box-shadow: 0 3px 4px 0 rgba(62, 62, 66, 0.58);
    font-weight: 400;
}

.repeat-block .config__string input {
    position: relative;
    bottom: auto;
    width: 100%;
}

/* OLD STYLES
.config-wrapper {
    display: block;
    width: 550px;
    border: 1px solid grey;
    background: #FDF8F8;
    color: #5e5e5e;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
}

.config-wrapper h2 {
    text-align: center;
}

.config-wrapper p {
    font-size: 1.2em;
    text-align: left;
    margin: 5px;
}

.config-wrapper input[type = 'button'], button {
    display: block;
    width: 36%;
    color: #3778C7;
    padding: 7px 16px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #fff;
    background: #fff linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 0%, rgba(0, 255, 11, 0.25) 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    line-height: normal;
    -text-shadow: 0 1px 0 white;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    background-clip: padding-box;
    margin: 10px auto;
    text-decoration: none;
    outline: none;
}

.config-wrapper label {
    display: inline-block;
    width: 42.5%;
    margin: 6px 10px;
    box-sizing: border-box;
    font-size: 1.18em;
    text-align: left;
    cursor: pointer;
}

.repeat-block label {
    width: 90%;
}

.delete-button {
    background: #fff linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 0%, rgba(255, 27, 0, 0.36) 100%) !important;
}

.submit-button {
    display: block;
    width: 50%;
    margin: 0 auto;
    background: #fff linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 0, 0.25) 100%);
}

.config-wrapper input[type = 'text'] {
    border-radius: 4px;
    border: 1px solid #bbb;
    border-bottom: 1px solid #dadada;
    padding: 6px 4px;
    transition: all;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%;
    outline: none;
    font: 13px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.config-wrapper input:focus {
    box-shadow: inset 0 0 3px rgba(255, 143, 0, 0.54);
}

.slider-position, .theme-colors {
    display: block;
    width: 100%;
    text-align: center;
}
.slider-position label {
    text-align: center;
}

#blue {
    background: #00abb3;
    padding: 7px;
    border-radius: 6px;
    font-weight: 600;
    color: #ffffff;
}

#green {
    background: #75cb9c;
    padding: 7px;
    border-radius: 6px;
    font-weight: 600;
    color: #ffffff;
}

#orange {
    background: #fd7822;
    padding: 7px;
    border-radius: 6px;
    font-weight: 600;
    color: #ffffff;
}

#purple {
    background: #cdb2cf;
    padding: 7px;
    border-radius: 6px;
    font-weight: 600;
    color: #ffffff;
}

#red {
    background: #d10c45;
    padding: 7px;
    border-radius: 6px;
    font-weight: 600;
    color: #ffffff;
}

#none {
    background-color: #ffffff;
    border: 1px solid grey;
    padding: 7px;
    border-radius: 6px;
    font-weight: 600;
    color: #000000;
}

.repeat-block {
    display: block;
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 5px;
    background: #F1F1F1;
}*/
