* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    font-size: 16px;
}

.slider-wrapper {
    display: block;
    position: relative;
    width: 100%;
    min-width: 1000px;
    max-width: 1300px;
    height: 350px;
    margin: 0 auto;
    border-radius: 11px;
    overflow: hidden;
    -background: lightgoldenrodyellow;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.slider__images {
    position: relative;
    width: 100%;
    height: 100%;
    transition: margin-left ease-in-out 0.7s;
}

.slider__images-wrap {
    -width: 300%;
    font-size: 0;

    height: 529px;

    white-space: nowrap;

}

.slider__images img {
    display: inline-block;
    width: 100%;
    height: 350px;

    vertical-align: top;
    -transform: translateY(-29%);
}

/*DEFAULT STYLES - SHOULD BE DELETED LATER*/
.slider__pagination {
    display: block;
    width: 100%;
    height: 16px;

    margin: 23px 0 0;

    list-style: none;
    text-align: center;
    cursor: pointer;
}

.slider__pagination li {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0 9px;

    border-radius: 50%;
    background: #e5e5e5;
    cursor: pointer;
}

.slider__pagination li:last-child {
    display: none;
}

.slider__pagination-item.active {
    background: #D10C45;
}

.slider__pagination-item:hover {
    background: #D10C45;
}

.slider-circle-1 {
    display: none;
    width: 456px;
    height: 456px;
    position: absolute;
    bottom: -350px;
    /*it doesn't work in most of browsers((*/
    /*-border-radius: 50%;*/
    /*-border: 4px dotted #ffffff;*/
    pointer-events: none;
}

.slider-circle-2 {
    display: none;
    width: 255px;
    height: 505px;
    position: absolute;
    top: -140px;
    background: transparent;
    pointer-events: none;
    overflow: hidden;
    /*transform: rotate(-45deg);*/
    /*border-radius: 50%;*/
    /*border-top: 4px dotted #19A5B3;*/
    /*border-left: 4px dotted #19A5B3;*/
}

.slider-circle-3 {
    display: none;
    width: 456px;
    height: 456px;
    position: absolute;
    top: -117px;
    border-radius: 50%;
    background: #19A5B3;
    cursor: default;
}

.slider-circle-3 h2 {
    position: absolute;
    bottom: 199px;
    left: 0;
    right: 0;
    width: 433px;
    padding-left: 56px;
    font-size: 38px;
    font-weight: 700;
    line-height: 41px;
    color: #FFFFFF;
    cursor: default;
}

.slider-circle-3 p {
    width: 395px;
    position: absolute;
    bottom: 135px;
    left: 0;
    right: 0;
    padding-left: 56px;
    font-size: 12px;
    -letter-spacing: -0.9px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    cursor: default;
}

.slider-circle-4 {
    display: none;
    width: 218px;
    height: 218px;
    position: absolute;
    bottom: -134px;
    border-radius: 50%;
    background: #095B55;
    text-align: center;
    cursor: pointer;
}

.slider-circle-4 p {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

/*end of default styles*/

/*position variants*/
.right .slider-circle-1 {
    display: block;
    left: -163px;
    opacity: 0;
}

.right .slider-circle-2 {
    display: block;
    right: calc(32% - 20px);
    opacity: 0;
}

.right .slider-circle-3 {
    display: block;
    right: 7%;
    opacity: 0;
}

.right .slider-circle-4 {
    display: block;
    right: 6%;
    opacity: 0;
}

.left .slider-circle-1 {
    display: block;
    right: -163px;
    opacity: 0;
}

.left .slider-circle-2 {
    display: block;
    left: calc(32% - 20px);
    transform: rotate(180deg);
    opacity: 0;
}

.left .slider-circle-3 {
    display: block;
    left: 7%;
    opacity: 0;
}

.left .slider-circle-4 {
    display: block;
    left: 6%;
    opacity: 0;
}

/*color themes variants*/

.blue .slider-circle-2 {
    display: block;
    /*border-color: #00a3a8;*/
    opacity: 0;
}

.blue rect.dotted-line {
    stroke: #00a3a8;
}

.blue .slider-circle-3 {
    display: block;
    background: #00abb3;
    opacity: 0;
}

.blue .slider-circle-4 {
    display: block;
    background: #095b55;
    opacity: 0;
}

.green .slider-circle-2 {
    display: block;
    /*border-color: #00a3a8;*/
    opacity: 0;
}

.green rect.dotted-line {
    stroke: #00a3a8;
}

.green .slider-circle-3 {
    display: block;
    background: #75cb9c;
    opacity: 0;
}

.green .slider-circle-4 {
    display: block;
    background: #095b55;
    opacity: 0;
}

.orange .slider-circle-2 {
    display: block;
    /*border-color: #d10c45;*/
    opacity: 0;
}

.orange rect.dotted-line {
    stroke: #d10c45;
}

.orange .slider-circle-3 {
    display: block;
    background: #fd7822;
    opacity: 0;
}

.orange .slider-circle-4 {
    display: block;
    background: #cd5d15;
    opacity: 0;
}

.purple .slider-circle-2 {
    display: block;
    /*border-color: #95539b;*/
    opacity: 0;
}

.purple rect.dotted-line {
    stroke: #95539b;
}

.purple .slider-circle-3 {
    display: block;
    background: #cdb2cf;
    opacity: 0;
}

.purple .slider-circle-4 {
    display: block;
    background: #95539b;
    opacity: 0;;
}

.red .slider-circle-2 {
    display: block;
    /*border-color: #d10c45;*/
    opacity: 0;
}

.red rect.dotted-line {
    stroke: #d10c45;
}

.red .slider-circle-3 {
    display: block;
    background: #d10c45;
    opacity: 0;
}

.red .slider-circle-4 {
    display: block;
    background: #940931;
    opacity: 0;
}

.none .slider-circle-1 {
    display: none !important;
    opacity: 0;
}

.none .slider-circle-2 {
    display: none !important;
    opacity: 0;
}

.none .slider-circle-3 {
    display: none !important;
    opacity: 0;
}

.none .slider-circle-4 {
    display: none !important;
    opacity: 0;
}

/*hovers*/
.slider-circle-3 {
    opacity: 0;
    -webkit-transition: opacity ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
}

.slider-circle-4 {
    opacity: 0;
    -webkit-transition: opacity ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
}

.slider-circle-3:hover {
    opacity: 0.75 !important;
}

.slider-circle-4:hover {
    opacity: 0.75 !important;
}

.config {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    background: url("../images/Configure-button-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.3;
    -webkit-transition: opacity ease-in-out 0.2s;
    -moz-transition: opacity ease-in-out 0.2s;
    -o-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
}

.config:hover {
    opacity: 1;
}