* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

.eyes-box {
    text-transform: uppercase;
    font-family: arial, serif;
    max-width: 600px;
    font-size: 12px;
    padding: 20px;
}

.eyes-box div div {
    display: inline-block;
}

.eyes-box > div {

    margin-bottom: 70px;
}

.item-first {
    float: left;
}

.item-last {
    float: right;
}

.line1 {
    font-size: 10em;
    height: 140px;
}

.line2 {
    font-size: 9em;
}

.line2 > .item2 {
    margin: 0 29%;
}

.line3 {
    font-size: 8em;
}

.line3 > .item2, .line3 > .item3 {
    margin-left: 69px;
}

.line4 {
    font-size: 7em;
}

.line4 > :nth-child(n+2) {
    margin-left: 49px;
}

.line5 {
    font-size: 6.6em;
}

.line5 :nth-child(n+2) {
    margin-left: 49px;
}

.line6 {
    font-size: 6.4em;
}

.line6 > :nth-child(n+2) {
    margin-left: 29px;
}

.line7 {
    font-size: 5em;
}

.line7 > :nth-child(n+2) {
    margin-left: 48px;
}

.line8 {
    font-size: 3em;
}

.line8 > :nth-child(n+2) {
    margin-left: 54px;
}

.line9 {
    font-size: 2.8em;
}

.line9 > :nth-child(n+2) {
    margin-left: 57px;
}

.line10 {
    font-size: 2em;
}

.line10 > :nth-child(n+2) {
    margin-left: 52px;
}

.line11 {
    font-size: 0.75em;
}

.line11 > :nth-child(n+2) {
    margin-left: 58px;
}

.line12 {
    font-size: 0.7em;
}

.line12 > :nth-child(n+2) {
    margin-left: 57px;
}

body {

    -webkit-filter: blur(4px);

    -moz-filter: blur(4px);

    -ms-filter: blur(4px);

    -o-filter: blur(4px);

    filter: blur(4px);

}

